/* ---------------------------------------------- */
/* --------------------top-box------------------- */
/* ---------------------------------------------- */

.guide-frame {
    position: relative;
    width:100%;
    height: 90px;
}

.guide-frame-fig {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/static/img/topbg.jpg');
    background-repeat: no-repeat;
    background-position: right 180px top; /* Add the image to the right position of top-box */
    background-size:contain;
    z-index: 1; /* keep the figure is above the overlay */
}

.guide-frame-fig-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.guide-frame-fig-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 89.5%;
    background: linear-gradient(to right, #091343, #123972); /* Use gradient color to decorate the guide-frame */
}

.guide-frame-fig-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    right: 10.5%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, #091343, #123972); /* Use gradient color to decorate the guide-frame */
}

.guide-frame-title {
    font-family: 'PT Serif';
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -10px;
    left: 100px;
}

/* ---------------------------------------------- */
/* --------------------button-------------------- */
/* ---------------------------------------------- */

.btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:140px;
    padding: 20px 0 40px 0;
}

.btn-superposition,.btn-systematic{
    background-color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 40px 20px;
    border: 2px solid #000;
    border-radius: 10px; 
    color: #000;
    transition: background-color 0.3s ease; /* Let the color change have a transition within the specified time */
    width:105px;
    height:80px;
}

.btn-superposition img,.btn-systematic img {
    position: absolute;
    background-size: cover;
    border: 2px double #000;
    top: 20px; 
    width:105px;
    height:80px;
}

.btn-superposition:hover{
    box-shadow: 0 0 20px #213d8b;
    background-image: linear-gradient(to bottom, #213d8b, #ffffff); /* Use gradient color to decorate the button */
}

.btn-superposition:hover span{
    color:rgb(26, 74, 102);
}

.btn-systematic:hover{
    box-shadow: 0 0 20px #bcd0d6;
    background-image: linear-gradient(to bottom, #bcd0d6, #ffffff); /* Use gradient color to decorate the button */
}
.btn-systematic:hover span{
    color:rgb(106, 101, 101);
}

.btn-superposition span {
    color: #000000; 
    font-size: 16px; 
    font-family: 'Arial'; 
    position: absolute; 
    bottom: 10px; 
    width: 100%;
    left: 15px;
    transition: color 0.6s ease; /* Let the color change have a transition within the specified time */
}

.btn-systematic span {
    color: #000000;
    font-size: 16px; 
    font-family: 'Arial'; 
    position: absolute; 
    bottom: 10px; 
    width: 100%;
    left: 26px;
    transition: color 0.6s ease; /* Let the color change have a transition within the specified time */
}

/* ---------------------------------------------------- */
/* --------------------main-boxframe------------------- */
/* ---------------------------------------------------- */

.main-boxframe {
    left:5%;
    position:relative;
    top:50px;
    width: 90%;
    height: auto;
    background: rgba(10, 23, 55, 0.9);
    border: 1px solid #0088cc;
    border-radius: 5px;
    font-family: 'Arial';
    color: #ffffff;
    transition: all 0.5s ease; /* Let the color change have a transition within the specified time */
}

.main-boxframe h1{
    padding: 0 20px;
    text-align: center;
    font-family: 'Parisienne' ;
    font-size: 40px;
    margin-bottom: -20px;
}

.main-boxframe h2{
    padding: 0 20px;
    font-family: 'Arial' ;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: -30px;
}

.main-boxframe p{
    padding: 0 20px;
    font-family: 'Arial' ;
    line-height: 40px;
    font-size: 18px;
    margin-bottom: -5px;
}

.function-title {
    color: rgb(189, 179, 255);
    font-weight: bold;
}

.main-boxframe h3{
    padding: 0 20px;
    font-family: 'Arial' ;
    font-size: 15px;
}

.main-boxframe h4{
    padding: 0 20px;
    font-family: 'Arial' ;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: -30px;
}

.main-boxframe h5{
    padding: 0 5px;
    text-align: center;
    font-family: 'Arial';
    font-style: italic;
    color: #ccc9f8;
    font-size: 40px;
    margin: 50px 0 0 0;
}

/* ------------------------------------------------------------ */
/* ------------------------inside-button----------------------- */
/* ------------------------------------------------------------ */

.modal {
    display: none; /* In the default case, the window will be hidden */
    position: fixed;
    z-index: 1;
    padding: 60px 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.449);
  }

.inside-modal {
    background-color: rgba(54, 77, 134, 0.871);
    color: #ffffff;
    margin: auto;
    padding: 20px 20px 25px 20px;
    border: 1px solid #878787;
    width: 80%;
  }
  
.close {
    color: #a6a6a6ec;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

#proteins-link:hover {
    color: rgb(126, 201, 241);
    transition: all 0.5s ease; /* Let the color change have a transition within the specified time */
}
