<!--
  ===========================================[ Home ]===================================================

  home.html
  css link:home.css

  =======================================[ Introduction ]===============================================

  This page is the homepage of the website. It introduces the main research content and the method to use
  this data analysis website. There are two graphical links to directly access the corresponding functional
  pages.

  ======================================================================================================
-->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hall Lab : Gibbs folding free energy prediction</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Parisienne">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>
<body>

    <div class="guide-frame">
        <div class="guide-frame-fig"></div>
        <div class="guide-frame-fig-overlay"></div>
        <h1 class="guide-frame-title">Hall Lab : Gibbs folding free energy prediction</h1>
    </div>
    
    <div class="main-boxframe">
        <h1>---------------------------- Welcome    to    Hall    Lab ----------------------------</h1><br>
        <h2>Based on pipeline data calculated by Hall Lab, it provides users with comprehensive data analysis of gene mutations occurring
            in various structures of 324 <a id="proteins-link" style="cursor:pointer;text-decoration:underline;">proteins</a> (amount of protein will gradually expand). The changes in protein folding free energy and 
            system statistics are two main aspects.</h2><br>
        <div id="myModal" class="modal">
            <div class="inside-modal">
                <span class="close">&times;</span>
                <h5>-------------------------- The included protein --------------------------</h5><br>
                <h4>
                    <span style="font-size:23px;color:#e9faa8">A:</span> abl1, acvr1, acvr1b, acvr2a, ajuba, akt1, alb, alk, amer1, apc, ar, arhgap35, arid1a, arid1b, arid2, arid5b, asxl1, atm, atp1a1, atp1b1, atp2a2, atp2b3, atp7b, atr, atrx, axin1, axin2<br>
                    <span style="font-size:23px;color:#e9faa8">B:</span> b2m, bap1, bcor, birc3, braf, brca1, brca2<br>
                    <span style="font-size:23px;color:#e9faa8">C:</span> cacna1d, calr, card11, casp8, cbfb, cbl, cblb, ccnd1, ccne1, cd58, cd79a, cd79b, cdc73, cdh1, cdk12, cdk4, cdk6, cdkn1a, cdkn1b, cdkn2a, cdkn2b, cdkn2c, cebpa, cfh, cib3, cic, cmtr2, cnot3, col2a1, cpa2, crebbp, crlf2, csf1r, csf3r, ctcf, ctnna1, ctnnb1, cul3, cux1, cxcr4, cyld<br>
                    <span style="font-size:23px;color:#e9faa8">D:</span> daxx, ddr2, ddx3x, dicer1, dnm2, dnmt3a<br>
                    <span style="font-size:23px;color:#e9faa8">E:</span> eef1a1, egfr, eif1ax, elf3, eml4, ep300, epha2, eps15, erbb2, erbb3, ercc2, erg, errfi1, esr1, etnk1, ezh2<br>
                    <span style="font-size:23px;color:#e9faa8">F:</span> fam104a, fam46c, fam58a, fat1, fat2, fbxo11, fbxw7, fgfr1, fgfr2, fgfr3, flt1, flt3, flt4, fosl2, foxa1, foxa2, foxl2, foxp1, foxq1, fth1, ftl, fubp1<br>
                    <span style="font-size:23px;color:#e9faa8">G:</span> gage12j, gata1, gata2, gata3, gata4, gja1, gna11, gna13, gnaq, gnas, gps2, grin2a<br>
                    <span style="font-size:23px;color:#e9faa8">H:</span> h3f3a, h3f3b, hamp, hfe, hfe2, hgf, hist1h2bd, hist1h3b, hla-a, hla-b, hla-c, hnf1a, hoxb3, hras<br>
                    <span style="font-size:23px;color:#e9faa8">I:</span> idh1, idh2, igf1r, igsf3, ikbkb, ikzf1, il6r, il6st, il7r, irf2, irf4<br>
                    <span style="font-size:23px;color:#e9faa8">J:</span> jak1, jak2, jak3<br>
                    <span style="font-size:23px;color:#e9faa8">K:</span> kcnj5, kdm5c, kdm6a, kdr, keap1, kit, klf4, klf5, klf6, kmt2a, kmt2b, kmt2c, kmt2d, kras<br>
                    <span style="font-size:23px;color:#e9faa8">L:</span> lipf, lrp1b<br>
                    <span style="font-size:23px;color:#e9faa8">M:</span> malat1, map2k1, map2k2, map2k4, map2k7, map3k1, max, med12, men1, met, mga, mlh1, mpl, msh2, msh6, mtor, myc, mycn, myd88, myod1<br>
                    <span style="font-size:23px;color:#e9faa8">N:</span> ncor1, neat1, nf1, nf2, nfe2l2, nfkbie, nkx2-1, notch1, notch2, notch3, notch4, npm1, nqo1, nras, nsd1, nt5c2, ntrk3<br>
                    <span style="font-size:23px;color:#e9faa8">P:</span> palb2, pax5, pbrm1, pclo, pcmtd1, pdgfra, pdyn, phf6, phox2b, pik3ca, pik3r1, pik3r3, plcg1, plekhs1, pole, pot1, pou2af1, ppm1d, ppp2r1a, ppp6c, prdm1, prex2, prkaca, prkar1a, ptch1, pten, ptpn11, ptpn3, ptprb<br>
                    <span style="font-size:23px;color:#e9faa8">Q:</span> qki<br>
                    <span style="font-size:23px;color:#e9faa8">R:</span> rac1, rac2, rad21, rasa1, rb1, rbm10, ret, rhbdf2, rhoa, rhob, rit1, rnf43, robo2, rpl10, rpl22, rpl5, rps6ka3, rreb1, runx1<br>
                    <span style="font-size:23px;color:#e9faa8">S:</span> serpina1, setbp1, setd2, sf3b1, sftpa1, sftpb, sftpc, sh2b3, slc10a1, slc40a1, smad2, smad4, smarca4, smarcb1, smc3, smo, smtnl2, socs1, sox2, sox9, spen, spop, src, srsf2, stag2, stat3, stat5b, stk11, sufu<br>
                    <span style="font-size:23px;color:#e9faa8">T:</span> tbl1xr1, tbx3, tcf7l2, tek, tenm1, tert, tet2, tfr2, tg, tgfbr2, tgif1, tmem170a, tmem51, tnfaip3, tnfrsf14, tp53, tp63, traf7, tsc1, tsc2, tshr, tyro3<br>
                    <span style="font-size:23px;color:#e9faa8">U:</span> u2af1, ubr5<br>
                    <span style="font-size:23px;color:#e9faa8">V:</span> vegfa, vhl<br>
                    <span style="font-size:23px;color:#e9faa8">W:</span> wt1<br>
                    <span style="font-size:23px;color:#e9faa8">X:</span> xbp1, xirp2, xpo1<br>
                    <span style="font-size:23px;color:#e9faa8">Z:</span> zfhx3, zfp36l1, znf750, zrsr2<br>
                </h4>
            </div>
        </div>
        <p>
            <span class="function-title">Superposition Analysis:</span> The analysis of protein folding free energy (ddg) caused by single or multiple gene mutations.<br>
            <span class="function-title">Systematic Analysis:</span> The analysis of the gene mutation information based on the database. 
        </p>
        <h3>Please click and enter the function to open the exploration of gene mutations.</h3>

        
        <div>
            <div class="btn-container">
                <a href="{% url 'myapp:query' %}" class="btn-superposition">
                    <img src="{% static '/img/button_superposition.jpg' %}" alt="Query icon">
                    <span>Superposition<br>Analysis</span>
                </a>
                <a href="{% url 'myapp:show' %}" class="btn-systematic">
                    <img src="{% static '/img/button_systematic.jpg' %}" alt="show icon">
                    <span>Systematic<br>Analysis</span>
                </a>
            </div>
        </div>
    </div>
    
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("proteins-link");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
            document.body.style.overflow = 'hidden'; 
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

</script>

</body>
</html>
