<!--
  ===========================================[ Show ]===================================================

  show.html
  css link:systematic.css

  =======================================[ Introduction ]===============================================

  This page is the user input interface for systematic analysis. It describes the detail information
  of this function and guides users to use correctly.

  ======================[ The parameters transfer to django view function ]=============================

  source (required): the type of protein
  mut_from (optional): The type of pre-mutated gene
  mut_to (optional): The type of mutated gene

  ======================================================================================================
-->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Hall Lab: Systematic Analysis</title>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Parisienne">
    <link rel="stylesheet" type="text/css" href="{% static 'css/systematic.css' %}">

</head>
<body>

    <div class="guide-frame">
        <div class="guide-frame-fig"></div>
        <div class="guide-frame-fig-overlay"></div>
        <h1 class="guide-frame-title">Hall Lab: Systematic Analysis</h1>
    </div>

    <div class="main-boxframe">
        <h1>---------------------------------- Systematic Analysis ----------------------------------</h1><br>
        <h2>Please enter the type of gene mutation to analyse.</h2><br>
        <pre class="input-format">
<span class="function-title">Input format:</span> "protein name"(required) + "gene mutation from"(optional) + "gene mutation to"(optional)
<span class="function-title">Example:</span> protein: <span class="ex1">pik3ca</span>, mut from: <span class="ex2">PRO</span>, mut to: <span class="ex3">CYS</span>
        </pre>
        <form method="POST" action="{% url 'myapp:show' %}">
            {% csrf_token %}
            <div class="form-group">
                <label>protein:</label>
                <input type="text" name="source" placeholder="Required">
                {% if set_form.source.errors %}
                {% for error in set_form.source.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label>mut from:</label>
                <input type="text" name="mut_from" placeholder="Optional">
            </div>
            <div class="form-group">
                <label>mut to:</label>
                <input type="text" name="mut_to" placeholder="Optional">
                {% if set_form.mut_to.errors %}
                    {% for error in set_form.mut_to.errors %}
                        <div class="error-message">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <input type="submit" value="Submit">
            {% if set_form.non_field_errors %}
                {% for error in set_form.non_field_errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}            
        </form>
    </div>

</body>
</html>